[Desktop Entry]
Version=1.0
Type=Application
Exec=thunar "/home/operator/Data/Temp Files"
Icon=folder
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Temp Files
Comment=Open temp files folder
X-XFCE-Source=file:///usr/share/applications/thunar.desktop
